{% extends 'base.html' %}

{% load get_item from template_filters %}
{% block content %}

    <h1>Roadmap</h1>
    <p style="font-family: 'Times New Roman';font-size: medium">
        You miss the following controls to implement in your system in order to achieve the target profile:
    </p>

     <table class="table">
        <thead>
            <tr>
                <th>Subcategory </th>
                <th>Controls</th>
                <th>Implementation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for subcategory in subcategory_clear_list %}
                        <tr>
                            <td>{{ subcategory}}: {{ subcategory.description}} </td>
                            <td>
                            <ul>
                            <ol>
                                {% for control in controls_clear_list|index:forloop.counter0 %}

                                    <li> <b>{{ framework_clear_list|index:forloop.parentloop.counter0|index:forloop.counter0 }}:</b> {{ control}}- {{ control.description}} </li>

                                {% endfor %}
                            </ol>
                            </ul>
                            </td>
                            <td>
                                <ol>
                                {% for element in implementation_list %}
                                    {% if element.subcategory_id == subcategory.id %}

                                        <li> {{ element.implementation }}</li>

                                    {% endif %}
                                    {% endfor %}
                                </ol>
                                </td>
                            </tr>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

      <form method="POST" action="{% url 'export_roadmap' profilepk %}">
            {% csrf_token %}
            <button id="back" type="submit" class="btn btn-primary">Export as a CSV file</button>
      </form>

{% endblock %}