{% extends 'base.html' %}

{% load get_item from template_filters %}
{% block content %}

    <h1>Creation of a new contextualization:</h1>
    <p style="font-family: 'Times New Roman';font-size: medium">
        Choose a name for your contextualization and select the subcategories with their priority and maturity levels
    </p>
    <form method="POST" name = "formname" action="{% url 'save_contextualization'%}">
        {% csrf_token %}
        {{ form.as_p }}

                {% for category in categories %}
                <p>
                    <b>Function:</b> {{ category.function }}<br>
                    <b>Category Name: </b>{{ category.name }}<br>
                    <b>Category Description:</b>{{ category.description }}<br>
                    <input type='button' onclick="toggle_visibility('{{ category.id }}')" value='show or hide'>
                </p>
                            <table class="table" id="{{ category.id }}">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>Subcategory </th>
                                    <th>priority level</th>
                                    <th>maturity level</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>

                            {% for subcategory in subcategory_list %}
                            {% if subcategory.category_id == category.id %}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="checbox" name="subcategory" value={{ subcategory.id}}/>
                                    </td>
                                    <td>{{ subcategory}}: {{ subcategory.description}} </td>
                                    <td>
                                        <select name="priority" class="form-control" style="width: 150px !important; min-width: 150px; max-width: 150px;">
                                             <option value="" selected disabled hidden>Choose here</option>
                                            {% for value in priority_list %}
                                            <option>{{ value}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <input name="maturity_level" id = "matlev" type="textarea" size="40" maxlength="200" />
                                    </td>

                                </tr>
                            {% endif %}
                        {% endfor %}
                            </tr>
                            </tbody>
                            </table>



            {% endfor %}

    <button type="submit" class="btn btn-primary btn-sm">save context</button>
    </form>


    <script>
        toggle_visibility = function (id){

            var e = $("#"+id);
            e.toggle();
            }
    </script>


{% endblock %}